html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
#sidebar {
  display: block;
  width: 30em;
  height: 100%;
  max-width: 100%;
  float: left;
  overflow-y: auto;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#figure-caption {
  display: block;
}